@model List<_01_LampshadeQuery.Contracts.ProductCategory.ProductCategoryQueryModel>

<div class="category-area section-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="category-wrapper">
                    <div class="row row-10">

                        @foreach (var item in Model)
                        {
                            <div class="col-lg-4 col-sm-6 grid-item">
                                <div class="single-category-item">
                                    <div class="single-category-item__image">
                                        <a asp-page="/ProductCategory" asp-route-id="@item.Slug">
                                            <img src="~/ProductPictures/@item.Picture" class="img-fluid" alt="@item.PictureAlt" title="@item.PictureTitle" />
                                        </a>
                                    </div>
                                    <div class="single-category-item__content">
                                        <h3 class="title">@item.Name</h3>
                                        <a asp-page="/ProductCategory" asp-route-id="@item.Slug">
                                            <i class="ion-android-arrow-dropleft-circle"></i> خرید
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>