@page
@model ServiceHost.Areas.Administration.Pages.Blog.Articles.IndexModel
@{
    Layout = "Shared/_AdminLayout";
    ViewData["title"] = "مدیریت مقالات";
}

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title pull-right">@ViewData["title"]</h4>
        <p class="pull-left">
            <a class="btn btn-success btn-lg" asp-page="./Create">ایجاد مقاله جدید</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">جستجو در مقالات</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline" role="form" method="get">
                    <div class="form-group">
                        <label class="sr-only" asp-for="SearchModel.Title"></label>
                        <input class="form-control" asp-for="SearchModel.Title" placeholder="عنوان مقاله">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" asp-for="SearchModel.CategoryId"></label>
                        <select class="form-control" asp-for="SearchModel.CategoryId" asp-items="Model.ArticleCategories">
                            <option value="0">گروه مقاله ...</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-l-10">جستجو</button>
                    <a class="btn btn-primary waves-effect waves-light m-l-10" asp-page="./Index">مشاهده همه</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row" id="ProductCategoriesDiv">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">لیست مقالات</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>عکس</th>
                                    <th>عنوان</th>
                                    <th>گروه</th>
                                    <th>توضیحات کوتاه</th>
                                    <th>تاریخ انتشار</th>
                                    <th>عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Articles)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>
                                            <img src="~/ProductPictures/@item.Picture" style="width: 70px; height: 70px" />
                                        </td>
                                        <td>@item.Title</td>
                                        <td>@item.Category</td>
                                        <td>@item.ShortDescription</td>
                                        <td>@item.PublishDate</td>
                                        <td>
                                            <a class="btn btn-warning pull-right m-rl-5" asp-page="./Edit" asp-route-id="@item.Id">
                                                <i class="fa fa-edit"></i> ویرایش
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/adminTheme/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminTheme/assets/datatables/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').dataTable();
        });
    </script>
}