@model List<InventoryManagement.Application.Contract.Inventory.InventoryOperationViewModel>
@{
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">سوابق گردش انبار</h4>
</div>

<div class="modal-body">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>تعداد</th>
                <th>تاریخ</th>
                <th>عملیات</th>
                <th>موجودی فعلی</th>
                <th>عملگر</th>
                <th>توضیحات</th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-white @(item.Operation ? "bg-success" : "bg-danger")">
                    <td>@item.Id</td>
                    <td>@item.Count</td>
                    <td>@item.OperationDate</td>
                    <td>
                        @if (item.Operation)
                        {
                            <span>افزایش</span>
                        }
                        else
                        {
                            <span>کاهش</span>
                        }
                    </td>
                    <td>@item.CurrentCount</td>
                    <td>@item.Operator</td>
                    <td>@item.Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
</div>
